# ===================================================================
# tpDcc-libs-unittests requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core